@{
    Layout = null;
}
<html>
<head>
    <title>Mobile Team Plants vs. Zombies</title>
    <link rel="stylesheet" type="text/css" href="content/css/main.css" />
</head>
<body>
    <div id="stage">
        <div id="backdrop" class=""></div>
        <img id="logo" class="" src="/content/images/logo.png">
        <div id="solarHolder"></div>

    </div>

    <script type="text/javascript" src="content/javascript/main.js"></script>
</body>
</html>
